* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#container {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'menu context context context context context'
  'menu main main main main main'
  'menu footer footer footer footer footer';
  /* border: 15px solid; */
  grid-gap: 10px;
  padding: 10px;
  /* border: 10px solid; */
  /* position: relative; */
  /* margin: 2em auto; */
  /* width: 800px; */
  /* max-width: 80%; */
}
.header{
  grid-area: header;
  text-align: center;
}
#save {
  background-color: #4C50AF;
  max-width: 20%;
}

#new-message input{
  width: 80%;
  
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* float: right; */
  width: 20%;
}

input {
  padding: 8px;
}

#desc {
  list-style: none;
  border: 1px solid #dfdfdf;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em!important;
  margin: 5px auto;
  padding: 25px 20px 40px;
  resize: none;
}
#nav-bar{
  grid-area: menu;
  list-style: none;
  text-decoration: none;
  text-align: center;
  /* border: 10px solid; */
}
#nav-bar li {
  text-decoration: none;
  margin-top: 0.5em;
  width: 80%; 
}
#message-list {
  grid-area: context;
  /* border: 10px solid; */
  /* position: relative; */
  margin-top: 2em;
  /* background-color: darkgreen; */
  height: 60vh;
  /* width: 100%;  */
  overflow: hidden;  
}

.userInput {
  grid-area: main;
}

.message {
  list-style: none;
  border: 1px solid #dfdfdf;
  width: 100%;
  min-height: 4em;
  clear: both;
  font-size: 15px;
  line-height: 1.5em!important;
  margin: 5px auto;
  padding: 25px 20px 40px;
}

li span {
  margin-top: 0.5em;
  width: 80%;
}

#footer{
  /* grid-area: footer; */
  text-align: center;
  margin-bottom: 5px;
  /* border: 10px solid; */
}
